<%# File Created 11/19/2019 by Sri Ramya Dandu %>
<%# Edited 11/20/2019 by Sharon Qiu %>
 
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="/club_matches/swipe">Hubbub</a> ADMIN MODE

<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item ">
      <a class="nav-link" href = "/users/<%= current_user.id %>">Profile<span class="sr-only">(current)</span></a>
    </li>
 
    <li class="nav-item">
      <a class="nav-link" href="/users/index">Users</a>
     </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/stats">User Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%=clubs_url%>">Clubs</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href = "/club_matches/swipe">Match Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href = "/users/matched/<%=current_user.id%>">Matched</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/users/explore">Explore</a>
  </li>
  <li>
      <a class="nav-link"> Welcome, <%= current_user.first_name %>!</a>
  </li>
  </ul>
  <ul class="navbar-nav  mt-2 mt-lg-0" style="list-style-type:none">
      <li class="nav-item">
        
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>   
      </li>
   </ul>


</div>
</nav>
<br/>
<br/>
<br/>
<br/>

