  <%# Created 11/20/2019 by Neel Mansukhani%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mission, "Mission Statement"%>
    <%= form.text_field :mission %>
  </div>

  <div class="field">
    <%= form.label :link, "Link to club website" %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :img_url, "Club Image" %>
    <%= form.file_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>