  <%# Created 11/20/2019 by Neel Mansukhani%>
  <div class="field">
    <%= form.label :name, "Club Name" %> <br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mission, "Mission Statement"%><br />
    <%= form.text_field :mission %>
  </div>

  <div class="field">
    <%= form.label :link, "Link to club website" %><br />
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :img, "Link to club image" %><br />
    <%= form.text_field :img %>
  </div>

  <div class="field">
    <%= form.label :location %><br />
    <%= form.text_field :location %>
  </div>