<%# File Created 11/20/2019 by Neel Mansukhani 
Edited 11/21/2019 by David Wing: added condition for matches%>


<%= stylesheet_link_tag 'admin'%>

<% if @club_has_matches %>
    <h1> <%= @club.name %> </h1>

    <%= bar_chart @match_data.group(:name).count, title:"Other Popular Clubs", xtitle:"Matches", ytitle:"Club Names" %>

    <table class="table col-md-3">
            <thead class="thead-dark">
              <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Club Interests</th>
                  <th scope="col"></th>
        
              </tr>
           </thead>
           <tbody>
              <tr>
                <td><%= line_chart @club_match_data,title:"Matches per Day", ytitle:"Matches", xtitle:"Day" %></td>
                <td><%= pie_chart User.group(:gender).count, title:"Gender Breakdown" %></td>

                <td>
                    <% @club_interests.each do |interest| %>
                        <%= interest.name %> <br>
                    <% end %> 
                </td>
            
              </tr>
            </tbody>
            <thead class="thead-dark">
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Grad year</th>
                        <th scope="col"></th>
                    </tr>
            </thead>
        <% @users_x.each do |user| %>
            <tr>

                <td> <%= user.first_name %></td>
                <td> <%= user.last_name %></td>
                <td> <%= user.email %></td>
                <td> <%= user.grad_year %></td>
                <td> <a href = "/users/<%= user.id %>"> Show </a></td>
            </tr>
        <% end %>
    </table>


<% else %>

    <div class="inspiration">
        No Matches yet!<br>
        Go get some matches!<br>

        <iframe src="https://giphy.com/embed/1fXcl6MEoOQvbOw3ZS" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/yes-yeah-yass-1fXcl6MEoOQvbOw3ZS"></a></p>
    </div>
<% end %>