<%# File Created 11/20/2019 by Neel Mansukhani %>


<%= stylesheet_link_tag 'stats'%>

<% if @club_has_matches %>
    <h1> My Club </h1>

    <%= line_chart @club_match_data %>
    <%= bar_chart @user_interest_data %>
    <%= pie_chart @gender_data %>
    <table>
        <tr>  
            Club name: <%= @club.name %>
        </tr>
        <% @club.users.each do |user| %>
            <tr>
                <td> <%= user.first_name %></td>
                <td> <%= user.last_name %></td>
                <td> <%= user.email %></td>
                <td> <%= user.grad_year %></td>
                <td> <a href = "/users/<%= user.id %>"> Show </a></td>
            </tr>
        <% end %>
    </table>

<% else %>

    <div class="inspiration">
        No Matches yet!<br>
        Go get some matches!<br>

        <iframe src="https://giphy.com/embed/1fXcl6MEoOQvbOw3ZS" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/yes-yeah-yass-1fXcl6MEoOQvbOw3ZS"></a></p>
    </div>
<% end %>