<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @club.mission %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<p>
  <strong>Affiliations:</strong>
  <%= @club.affiliations %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<p>
  <strong>Link:</strong>
  <%= @club.link %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @club.img_url %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<p>
  <strong>Location:</strong>
  <%= @club.location %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<p>
  <strong>Other:</strong>
  <%= @club.other %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
