<%# File created 11/13/2019 by Sri Ramya Dandu
    Edited 11/18/2019 by Sri Ramya Dandu: Changed display 
    Edited 11/18/2019 by Sri Ramya Dandu: Added Bootstrap 
    Edited 11/19/2019 by Sri Ramya Dandu: Added more bootstrap 
    Edited 11/20/2019 by Sri Ramya Dandu: Link to CSS 
    Edited 11/21/2019 by David Wing: added charts %>

    <%= stylesheet_link_tag 'stats'%>
<div class = "stats-display">
<h1> <%= @title %> </h1>
<p> Total Users: <%= @total %> </p>

<table class="table table-nonfluid table-striped">
    <thead class="thead-dark">
      <tr>
          <th scope="col">Gender Breakdown</th>
          <th scope="col">Most Popular Clubs by Matches</th>
          <th scope="col">Popular Interests</th>

      </tr>
   </thead>
   <tbody>
      <tr>
          <td><%= pie_chart @users.group(:gender).count %></td>
          <td><%= bar_chart @match_data.group(:name).count %></td>
          <td><%= pie_chart @user_interest_data.group(:name).count %></td>
      </tr>
    </tbody>
</table>


<table class="table table-nonfluid table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Matched Clubs</th>
        <th colspan="2">Options</th>
    </tr>
 </thead>
 <tbody>
    <% @users.each do |user| %>
    <% 
        @matched_clubs = []
        @clubs = user.clubs
        @matches = user.club_matches
    
        @matches.each do |val|
          matched = val.matched
          club_id = val.club_id
          if matched
            @clubs.each do |club|
              if club_id == club.id
                @matched_clubs.push club
              end
            end
          end
        end
    %>
    <tr>
      <td> <%= user.first_name %> </td>
      <td> <%= user.last_name %></td>
      <td> <%= user.email %></td>

      <td>
      <div class="list-group">
        <ul class="list-group">
          <% @matched_clubs.each do |club| %>
          
          <a href=" <%= club.link %> class="list-group-item-action"><%=club.name%></a>
          <% end %>
        </ul>
      </div>
          
      </td>
      <td> <a href = "/users/<%= user.id %>"> Profile </a></td>
      <td> <a href = "/users/<%= user.id %>/edit"> Edit </a></td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>