<%# File created 11/13/2019 by Sri Ramya Dandu
    Edited 11/18/2019 by Sri Ramya Dandu: Changed display %>


<h1> <%= @title %> </h1>
<p> Total Users: <%= @total %> </p>
<table>
    <% @users.each do |user| %>
    <tr>  
    <td> <%= user.email %></td>
    <td> <%= user.role %></td>
    <td> Matched Clubs: </td>
    <% @clubs = current_user.clubs %>
    <% @clubs.each do |club| %>
        <td> <%= club.name %></td>
    <% end %>
    <td> <a href = "/users/<%= user.id %>"> Show </a></td>
    <td> <a href = "/users/<%= user.id %>/edit"> Edit </a></td>
    </tr>
    <% end %>
</table>
<a href = "/users/stats"> Stats </a>