<%# File created 11/19/2019 by Sri Ramya Dandu
    Edited 11/20/2019 by Sri Ramya Dandu: Added css link 
    Edited 11/20/2019 by Sri Ramya Dandu: Added loading 
    Edited 11/21/2019 by Sri Ramya Dandu: Fixed hrefs %>

<%= stylesheet_link_tag 'explore'%>
<body style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="explore-body" class="animate-bottom">
<h2 class = "headings"> EXPLORE </h2>
<div class="input-group mb-3 search-bar">
  <div class="input-group-prepend">
    <%= form_tag users_explore_path, :method => :get do%>
      <%= text_field_tag :search %>
      <%= submit_tag "Get searching!" %>
    <% end %>
  </div>
</div>
<div class = "explore-cards"> 
  <%if @clubs.length == 0%>
      <h4> No results found...</h4><br/>
      <h4> Maybe you'll find what you're looking for if you search again!</h4>
  <%else%>
  <div class="card-columns">
      <% @clubs.each do |club| %>
        <div class="card">
          <img src="<%=club.img%>" class="card-img-top" alt= "<%=club.name%>" %>
          <div class="card-body">
            <h5 class="card-title"><%= club.name %></h5>
            <p class="card-text"><%= club.mission %></p>
            <a href="<%=club_url(:id => club.id)%>"  class="btn btn-primary btn-sm">Learn More</a>
          </div>
        </div>
      <% end %>
  <%end%>
  </div>
</div>
</div>
</body>

<script>


  function waitTime() {
    setTimeout(showPage, 4000);
  }
  waitTime();

  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("explore-body").style.display = "block";
  }
</script>