<%= stylesheet_link_tag 'welcome' %>
<div class="bg-light">
<div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="list-of-clubs-container">
                <%= image_tag(@images[0], :alt => "Not Available", :class => "swipe-img blue") %>
                <span class="header0">
                    Welcome to<br />
                    Hubbub.
                    <div class="sub-header">
                        Hubbub was built as a platform<br />
                        to connect you with clubs <br />
                        at YOUR school
                    </div>
                </span>
            </div>
        </div>
        <div class="carousel-item">
            <div class="list-of-clubs-container">
                <%= image_tag(@images[1], :alt => "Not Available", :class => "swipe-img dark") %>
                <span class="header1">
                    Connect.
                    <div class="sub-header">
                        We provide an intuitive experience<br />
                        for connecting with clubs.
                    </div>
                </span>
            </div>
        </div>
        <div class="carousel-item">
            <div class="list-of-clubs-container">
                <%= image_tag(@images[2], :alt => "Not Available", :class => "swipe-img dark") %>
                <span class="header2">
                    Naeem Shareef
                    <div class="sub-header">
                        "I'd give this project 100%"
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
<a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
    <div class="carousel-control-prev-icon" aria-hidden="true"></div>
</a>
<a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
    <div class="carousel-control-next-icon" aria-hidden="true"></div>
</a>

<div class="jumbotron display-row bg-light">
        <div class="col-md-6 px-0 aligned left">
          <span class="lead mb-1">
            Find new clubs with our matching algorithm
            <%= image_tag("gear-icon.png", :alt => "Not Available", class: "sub") %>    
          </span>
          <span class="lead mb-1">
            We'll be sure to find you clubs that you'll love.
            <%= image_tag("heart-icon.png", :alt => "Not Available", class: "sub") %>    
          </span>
          <span class="lead mb-1">
            Find new hobbies!
            <%= image_tag("paintbrush-icon.png", :alt => "Not Available", class: "sub") %>    
          </span>
        </div>
        <div class="col-md-6 px-0 aligned right">
            <%= image_tag("swipe.jpg", :alt => "Not Available", class: "main") %>
        </div>
</div>

<div class="jumbotron display-row bg-light">
        <div class="col-md-6 px-0 aligned left">
            <%= image_tag("laptop.jpg", :alt => "Not Available", class: "main") %>
        </div>
        <div class="col-md-6 px-0 aligned right">
            <span class="lead mb-1">
                <%= image_tag("users-icon.png", :alt => "Not Available", class: "sub") %>    
                Help users find and join your club
            </span>
            <span class="lead mb-1">
                <%= image_tag("graph-icon.png", :alt => "Not Available", class: "sub") %>    
                View statistics about your users
            </span>
            <span class="lead mb-1">
                <%= image_tag("lightbulb-icon.png", :alt => "Not Available", class: "sub") %>    
                Learn more about your users
            </span>
        </div>
</div>
</div>
<script>
    $('#mainCarousel').carousel({
    interval: 6000
});
</script>