<%# File created 11/12/2019 by Sri Ramya Dandu %>


<h1> <%= @title %> </h1>
<table>
    <% count= 1 %>
    <% @users.each do |user| %>
    <tr>  
    <td> <%= user.email %></td>
    <td> <%= user.role %></td>
    <td> <a href = "/users/<%= count %>"> Show </a></td>
    <td> <a href = "/users/<%= count %>/edit"> Edit </a></td>
    </tr>
    <% count += 1 %>
    <% end %>
</table>
<a href = "/users/stats"> Stats </a>


