<%# File created 11/17/2019 by Sharon Qiu %>

<%if @matched_clubs.count == 0%>
    <h1>No clubs matched yet</h1>
<%else%>
<h1 style=text-align:center> Matches </h1>
<table>
    <tr>
        <th>Club name</th>
        <th>Mission</th>
        <th>Location</th>
        <th>Affiliations</th>
        <th>link</th>
        <th>img</th>
    </tr>
    <%@matched_clubs.each do |club| %>
        <tr>
            <td><%=club.name%></td>
            <td><%=club.mission%></td>
            <td><%=club.location%></td>
            <td><%=club.affiliations%></td>
            <td><%=club.link%></td>
            <td><%=image_tag club.img%></td>
            <td><%= link_to 'Unmatch',add_current_club_matches_url( :club => club.id), :method => :patch%>
            <%# # {:controller => 'club_matches', :action => 'update_existing_match', :club => club.id, :method => :patch}%> 
            <%# # add_current_club_matches_url, :club => club.id, :method => :patch %> 
            <%# #{:controller => 'club_matches', :action => 'update_existing_match', :club => club.id, :method => :patch}</td>  %>
        </tr>
    <%end%>
</table>
<br/>
<%end%>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
<%= link_to 'Rejected', 'not_matched' %>  



