<%# File created 11/17/2019 by Sharon Qiu %>

<%if @not_matched_clubs.count == 0%>
    <h1>No clubs rejected yet</h1>
<%else%>
<h1 style=text-align:center> Rejected </h1>
<table>
    <tr>
        <td>Club name</td>
        <td>Mission</td>
        <td>Location</td>
        <td>Affiliations</td>
        <td>link</td>
        <td>img</td>
    </tr>
    <%@not_matched_clubs.each do |club| %>
        <tr>
            <td><%=club.name%></td>
            <td><%=club.mission%></td>
            <td><%=club.location%></td>
            <td><%=club.affiliations%></td>
            <td><%=club.link%></td>
            <td><%=image_tag club.img%></td>
            <td><%= link_to 'Match', {:controller => 'club_matches', :action => 'update', :club => club.id}%></td>
        </tr>
    <%end%>
</table>
<br/>
<%end%>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
<%= link_to 'Matched', 'matched' %> 