<%# File created 11/13/2019 by Sri Ramya Dandu 
    Edited 11/15/2019 by Sri Ramya Dandu: Added drop down features and changed display 
    Edited 11/16/2019 by Sri Ramya Dandu: Added routes to view 
    Edited 11/18/2019 by Sri Ramya Dandu: Added Bootstrap
    Edited 11/20/2019 by Sri Ramya Dandu: Added table info
    Edited 11/21/2019 by David Wing: Updated edit routing to preference page
    Edited 11/21/2019 by Sri Ramya Dandu: Added links
    Edited 11/22/2019 by Neel Mansukhani: Clubs can't edit users
    Edited 11/24/2019 by Sharon Qiu: Added right-side class for css styles.
    %>


<%= stylesheet_link_tag 'user'%>

<h2 class = "headings"> PROFILE </h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col left-side">
          <br/>
          <div class="card card-dimensioning" style="width: 20rem;">
            <img class="card-img-top" src="https://activities.osu.edu/img/blank-group-640x480.png" alt="Card image cap">
            <div class="card-body">
            <h5 class = "user_info"> Name: </h5> <%= @user.first_name %> <%= @user.last_name %>  <br/>  <br/>
            <h5 class = "user_info"> Gender: </h5> <%= @user.gender %> <br/>  <br/>
            <h5 class = "user_info"> Email: </h5> <%= @user.email %> <br/>  <br/>
            <h5 class = "user_info"> Graduation Year: </h5> <%= @user.grad_year %> <br/>  <br/>
            <h5 class = "user_info"> Gender: </h5> <%= @user.gender %> <br/>  <br/>
          <% if !current_user.club? %>
            <a href = "/users/preferences"> Edit Info </a>
          <% end %>
            </div>
          </div>
        </div>
        <div class="col right-side"> 
          <br/>
          <table class="table table-nonfluid table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="2">User Info</th>
                </tr>
                <% if !current_user.club? %>
                  <tr>
                      <th scope="col">Matched Clubs</th>
                      <td> <a href = "/users/matched/<%= @user.id %>" > <%= @matched_clubs %></a> </td>
                  </tr>
                  <tr>
                    <th scope="col">Rejected Clubs </th>
                    <td> <a href = "/users/not_matched/<%= @user.id %>" > <%= @rejected_clubs %> </a></td>
                  </tr>
                  <tr>
                <% end %>
                  <th scope="col" class = "align-middle">Interests</th>
                  <td> 
                    <ul class = "interests">
                      <% @interests.each do |interest|%> 
                        <li><%= interest.name %> </li>
                      <% end %>
                      <% if @interests.length == 0 %>
                        <li>No Interests</li>
                      <% end%>
                    </ul>
                  </td>
                </tr>
            </thead>
          </table>
          </div>
        </div>
</div>
<br/>
<br/>
<br/>
<br/>