<%# # Created 11/11/19 David Wing
# edited 11/16/19 David Wing
# edited 11/17/19 David Wing %>



<!DOCTYPE html>
<html>
        <body>
                Select interests for <%= @cur_u.email%> <br>


                <% @interests.each do |interest| %>
                        <% selected= false %>
                        
                        <% @user_interests.each do |user_interest| %>

                                <% if user_interest.interest_id == interest.id  %>
                                        <% selected = true %>        
                                        <% break %>
                                <% end %>
                        
                        <% end %>

                        <% if selected == true  %>
                                <input type="checkbox" name="<%=interest%>" checked><%=interest.name%> <br>
                        <% else %>
                                <input type="checkbox" name="<%=interest%>"><%=interest.name%> <br>
                        <% end %>

                <% end %>
                <input type="button" name="submit" value="submit"><br>
        </body>

</html>