<%# # Created 11/11/19 David Wing
# edited 11/16/19 David Wing
# edited 11/17/19 David Wing
  Edited 11/21/2019 by Neel Mansukhani: Modified to work for club matches
   %>

<%= stylesheet_link_tag 'interests'%>

<div class="select_interests">

<div class="greeting">
        Hi, <b><%= @cur_u.first_name %></b>!<br>
        Choose some things that your club members might be interested in<br>
</div>
<form action="/club_interests/handle_check_boxes">

        <% @interests.each do |interest| %>
                <% selected= false %>
                
                <% @club_interests.each do |club_interest| %>

                        <% if club_interest.interest_id == interest.id  %>
                                <% selected = true %>        
                                <% break %>
                        <% end %>
                
                <% end %>

                <%# prefills the form %>
                <% if selected == true %>
                        <div class="form-check">
                                <input id="interest1" type="checkbox" name="tag_ids[]" value="<%=interest.id %>" checked="true" class="form-check-input"  /> 
                                <label class="form-check-label" for="interest1"><%=interest.name%></label><br>
                        </div>
                <% else %>
                        <div class="form-check">
                                <input id="interest2" type="checkbox" name="tag_ids[]" value="<%=interest.id %>"  class="form-check-input"  />
                                <label class="form-check-label" for="interest2"><%=interest.name%></label><br>
                        </div>
                <% end %>

        <% end %>
        <br>
        <input type="submit" class="btn btn-primary mb-2" value="Save"><br>
</form>
</div>