<%# # Created 11/11/19 David Wing
# edited 11/16/19 David Wing
# edited 11/17/19 David Wing

 %>

Select interests for <%= @club.name %> <br>

<form action = "/club_interests/handle_check_boxes">

        <% @interests.each do |interest| %>
                <% selected= false %>
                
                <% @club_interests.each do |club_interest| %>

                        <% if club_interest.interest_id == interest.id  %>
                                <% selected = true %>        
                                <% break %>
                        <% end %>
                
                <% end %>

                <%# prefills the form %>
                <% if selected == true %>
                        <%=interest.name%> <%= check_box_tag name="tag_ids[]", value=interest.id, checked = true%> <br>
                
                <% else %>
                        <%=interest.name%><input type="checkbox" name="tag_ids[]" value="<%=interest.id %>" /> <br>
                <% end %>

        <% end %>
        <input type="submit" value="Submit"><br>
</form>