<%# Created 10/17/2019 by Leah Gillespie %>
<%# Created 10/19/2019 by Leah Gillespie: Added bootstrap carousel %>
<!doctype html>
<html lang="en">
  <head>
    <script src="swipe_carousel.js"></script>
    <%#<link rel="stylesheet" href=""> %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Choose your Clubs</title>
  </head>
  <body>
    <h1>Choose your Clubs</h1>
    <h2>Press the left arrow for "no" and the right arrow for "yes"</h2>
      <div id="swipeCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <%first = true
            @potential_matches.each do |c|
            if first
              active = "carousel-item active"
              first = false
             else
              active = "carousel-item"
             end
            %>
            <div class="<%= %"#{active}"%>">
              <p class="d-block w-100"><%=%"#{c[0].name}"%></p>
              <p class="d-block w-100"><%=%"#{c[0].mission}"%></p>
              <p class="d-block w-100"><%=%"#{c[0].affiliations}"%></p>
              <p class="d-block w-100"><%=%"#{c[0].location}"%></p>
            </div>
          <%end%>
        </div>
        <a class="carousel-control-prev" href="#swipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#swipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </table>
      </div>
  </body>
</html>