<%# Created 10/17/2019 by Leah Gillespie %>
<%# Edited 10/19/2019 by Leah Gillespie: Added bootstrap carousel 
<%# Edited 10/22/2019 by Sharon Qiu: added js and ajax script %>
<%= stylesheet_link_tag 'swipe'%>
<h1 class ="headings">Choose your Clubs</h1>
<h2 class = "content">Click the left button to reject a club or the right button to match! <br/> Go to the matched tab to see all your matches!</h2>
  <br/>
  <div id="swipeCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
    <div class="container">
    <div class="carousel-inner">
      <%first = true
        @potential_matches.each do |c|
          if first
            active = "carousel-item active"
            first = false
            else
            active = "carousel-item"
            end
        %>
        <div class=" <%= %"#{active}"%>">
          <div class="list-of-clubs-container">
            <img src="<%=c[0].img%>" class="swipe-img" alt="<%=c[0].name%>"%>
          </div>

          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Your Match!</div>
            <div class="card-body">
              <h5 class="card-title"><%= c[0].name %></h5>
              <p class="card-text"><%= c[0].mission %></p>
            </div>
          </div>

        </div>
      <%end%>
    </div>
    
    <a class = "carousel-control-prev pointer" href="#swipeCarousel" role="button" data-slide="next">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Reject</span>
      ❰❰ REJECT
    </a>

    
    <a class = "carousel-control-next pointer"  href="#swipeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Match</span>
      MATCH ❱❱
      </a>
  </div>
</div>
</div>
</div>
<script>
    // calls the method without interfering with swipe
    $('#swipeCarousel').click(function (e) {
      var name = $(".carousel-item.active h5").text()
      var pWidth = $(this).innerWidth();
      var x = e.pageX;
      if(pWidth*.2 > x){
          $('#myCarousel').carousel('next')
          $.ajax({
            url: "/club_matches/add_new",
            type: "POST",
            data: {
              matched:0,
              club_name:name
            },
          });
      }else if (pWidth*.8 < x){
        $.ajax({
          url: "/club_matches/add_new",
          type: "POST",
          data: {
            matched:1,
            club_name:name
          },
        });
      }
    })
</script>
